<a href="https://colab.research.google.com/github/leejineun/ai-class/blob/main/Numpy_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

1. ndim=3, size=27인 모든 원소가 0으로 된 배열을 생성하세요

2. 배열 내의 원소간의 간격이 3이고, 배열의 길이가 20인 배열을 생성하시오

3. 다음 배열을 ndim=3, 행과 열이 2인 배열로 바꾸세요

    ``np.arange(12)``

4. 다음 두 벡터를 곱할 수 있는 모양으로 바꾼 후, 각 원소끼리 곱하세요 (Elementwise product)

``a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]])``


``b = np.arange(12)``

 5. 다음 array 2개를 열방향으로 합치세요

 ``a = np.floor(10 * np.random.random((2,2)))`` 

 ``b = np.floor(10 * np.random.random((2,2)))``

6. 다음 데이터를 아래 그림과 같은 모양으로 인덱싱하세요

``a = np.arange(10)``

![image.png]()

7. (2, 2) shape의 True 값만 가지는 배열을 생성하세요

8. 다음 배열의 평균, 중앙값, 최대, 최소, 표준편차를 구하세요

``a = np.array([[1, 2, 3], [12, 34, 11], [4, 7, 5], [-1, -4, 0]])``

In [6]:
 a = np.array([[1, 2, 3], [12, 34, 11], [4, 7, 5], [-1, -4, 0]])

In [11]:
print(a.mean(), np.median(a), a.max(), a.min(), a.std())

6.166666666666667 3.5 34 -4 9.51168871558685

9.

7. 아래와 같이 수행하세요

    (1) 각 요소의 최대값이 255인 (3, 3, 3)의 shape을 가지는 벡터를 생성하세요 (dtype=int)

    (2) 각 1번 열의 값은 1이고, 0번, 3번 열의 값은 0인 (3, 3, 3)의 shape을 가지는 벡터를 생성하세요

    (3) 만들어진 두 벡터를 곱하세요